[submodule "week2/exam"]
path = week2/exam
url = git@github.com:tmihov/JavaScript-Exam.git

[submodule "week6/1-Multiplayer-Snake"]
path = week6/1-Multiplayer-Snake
url = git@github.com:tmihov/Snake.git