[submodule "week2/exam"]
path = week2/exam
url = git@github.com:tmihov/JavaScript-Exam.git

[submodule "week6/2-Multiplayer-Pong"]
path = week6/2-Multiplayer-Pong
url = git@github.com:tmihov/Snake.git